## Training Models

#### Loading in the data

In [1]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt

# load in all of the data
sodankyla = pd.read_csv(r"/Users/elliotdable/Documents/UCL/research/fabry_perot_ml/sodankyla_fpi/sodankyla_red_merged.csv")
kiruna = pd.read_csv(r"/Users/elliotdable/Documents/UCL/research/fabry_perot_ml/kiruna_fpi/kiruna_red_merged.csv")

# all datetime columns need to be converted back to datetime from string as pandas cant save them in this format
sodankyla.datetime = pd.to_datetime(sodankyla.datetime)
kiruna.datetime = pd.to_datetime(kiruna.datetime)

In [2]:
sodankyla

,mirror,intensity,intensityError,windSpeed,windSpeedError,temp,tempError,chiSquared,sigToNoiseRatio,datetime,sensorTemp,skyTemp,clarity,light,rain
0,15,19445.41,105.44,-21.77,3.26,409.98,6.53,0.12,24868.0,2019-02-01 15:16:03,2.3,-40.6,42.8,0.0,0.0
1,4,25100.11,79.40,-27.46,2.57,1567.10,14.51,0.37,71291.0,2019-02-01 15:19:09,2.3,-40.8,43.0,0.0,-0.2
2,14,31737.28,106.74,-7.93,2.73,1540.68,15.14,0.38,62523.0,2019-02-01 15:19:46,2.3,-41.7,44.0,0.0,-0.2
3,1,29767.50,98.48,-19.43,2.69,1547.51,14.96,0.37,64765.0,2019-02-01 15:22:52,2.2,-40.4,42.6,0.0,-0.1
4,8,19014.86,69.20,-53.74,2.95,1611.52,17.21,0.59,54783.0,2019-02-01 15:23:21,2.2,-40.4,42.6,0.0,-0.1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
62021,4,11350.52,140.89,2.41,9.34,2133.92,77.00,0.12,6100.0,2023-02-14 05:07:32,10.8,-7.2,18.0,0.0,-0.1
62022,14,12052.06,142.05,25.17,8.96,2094.00,71.97,0.14,6595.0,2023-02-14 05:08:40,10.8,-7.1,18.0,0.0,-0.1
62023,1,13253.51,150.48,37.98,8.38,2200.38,72.17,0.19,7616.0,2023-02-14 05:09:47,10.8,-6.7,17.5,0.0,-0.2
62024,8,13009.21,72.20,-124.14,4.54,1606.46,26.12,0.58,23378.0,2023-02-14 05:10:16,10.8,-6.7,17.5,0.0,-0.2
62025,8,13027.42,81.20,-126.46,5.10,1598.19,29.17,0.43,18489.0,2023-02-14 05:24:46,10.8,-7.3,18.1,0.0,0.0

In [3]:
kiruna

,mirror,intensity,intensityError,windSpeed,windSpeedError,temp,tempError,chiSquared,sigToNoiseRatio,datetime,sensorTemp,skyTemp,clarity,light,rain
0,8,1036.74,2.41,14.41,1.09,215.49,1.27,2.36,111212.0,2019-02-01 15:04:37,-2.5,-8.3,5.8,0.0,0.6
1,8,3315.85,4.06,1901.73,0.49,242.92,0.71,8.44,275712.0,2019-02-01 15:04:46,-2.5,-8.3,5.8,0.0,0.6
2,8,1668.01,2.95,2.65,1.31,882.96,3.96,2.57,190631.0,2019-02-01 15:10:17,-2.6,-8.4,5.9,0.0,0.7
3,8,3305.77,3.49,1905.15,0.43,244.44,0.62,11.96,372759.0,2019-02-01 15:10:28,-2.6,-8.4,5.9,0.0,0.7
4,8,1674.81,3.05,12.87,1.35,886.85,4.10,2.25,179485.0,2019-02-01 15:16:08,-2.5,-8.2,5.7,0.0,0.7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
61630,7,2326.49,12.90,60.70,5.03,1416.70,20.90,0.07,19932.0,2023-03-01 00:56:13,8.2,-4.5,12.6,0.0,0.0
61631,2,1945.92,11.58,61.80,5.39,1411.84,22.33,0.14,17275.0,2023-03-01 00:56:59,8.2,-4.5,12.6,0.0,0.0
61632,8,9781.94,16.49,-0.72,1.18,778.02,3.29,1.43,199311.0,2023-03-01 00:57:37,8.2,-4.5,12.6,0.0,0.0
61633,12,2506.06,11.65,93.38,4.22,1418.58,17.55,0.12,28324.0,2023-03-01 00:58:15,8.2,-4.5,12.6,0.0,0.0
61634,3,2154.99,10.54,64.49,4.48,1452.57,18.96,0.10,25695.0,2023-03-01 00:58:50,8.2,-4.5,12.6,0.0,0.0

We're going to need ome type of regression algorithm to model relationships between the data

#### Regression

In [24]:
# Importing necessary libraries
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error

X = np.array(kiruna.windSpeed).reshape(-1,1)
y = np.array(kiruna.skyTemp).reshape(-1,1)

# Splitting the dataset into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Creating a Linear Regression model
linear_regression = LinearRegression()

# Training the model
linear_regression.fit(X_train, y_train)

# Making predictions on the testing set
predictions = linear_regression.predict(X_test)

# Evaluating the model
mse = mean_squared_error(y_test, predictions)
print("Mean Squared Error:", mse)

Mean Squared Error: 148.44735128744432